.settings
.project
Cache/*
!Cache/index.html
!Cache/README.md
Configuration/app.yaml
Pages/*
!Pages/README.md
Services/*
!Services/README.md
Modules/*
!Modules/MainMenu
!Modules/Home
!Modules/README.md
Configuration/app.yaml
Configuration/metadata.yaml	



