[submodule "Libraries/AltoRouter"]
	path = Libraries/AltoRouter
	url = https://github.com/dannyvankooten/AltoRouter.git
[submodule "Libraries/Yaml"]
	path = Libraries/Yaml
	url = https://github.com/mustangostang/spyc.git
[submodule "Libraries/Parsedown"]
	path = Libraries/Parsedown
	url = https://github.com/erusev/parsedown.git
[submodule "Libraries/Yaec"]
	path = Libraries/Yaec
	url = git@github.com:egiralt/yaec.git
