[submodule "Libraries/AltoRouter"]
	path = Libraries/AltoRouter
	url = https://github.com/dannyvankooten/AltoRouter.git
[submodule "Libraries/Yaml"]
	path = Libraries/Yaml
	url = https://github.com/mustangostang/spyc.git
[submodule "Libraries/Parsedown"]
	path = Libraries/Parsedown
	url = https://github.com/erusev/parsedown.git
[submodule "Libraries/Yaec"]
	path = Libraries/Yaec
	url = git@github.com:egiralt/yaec.git
[submodule "Libraries/Toastr"]
	path = Libraries/Toastr
	url = https://github.com/CodeSeven/toastr.git
[submodule "Libraries/Moment"]
	path = Libraries/Moment
	url = https://github.com/moment/moment.git
[submodule "Libraries/boostrap-vertical-tabs"]
	path = Libraries/boostrap-vertical-tabs
	url = https://github.com/dbtek/bootstrap-vertical-tabs.git
