<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>SkyData by egiralt</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>SkyData</h1>
        <h2>Un framework PHP orientado a objetos para: Angular + Twig + ElasticSearch </h2>
        <a href="https://github.com/egiralt/skydata" class="button"><small>View project on</small>GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h3>
<a name="skydata-es-f%C3%A1cil-" class="anchor" href="#skydata-es-f%C3%A1cil-"><span class="octicon octicon-link"></span></a>Skydata es fácil ;)</h3>

<p>SkyData está diseñado pensando en desarrolladores que requieren productividad. El modelo es sencillo y completamente intuitivo. Se utiliza lo mejor de MVC, lo mejor de la orientación a servicios y lo mejor de un sistema gestionado por eventos.
Veamos un servicio (<code>/SkyData/Core/Service/Controller/SkyDataServiceController</code>) de una clase cualquiera:</p>

<pre><code>class CochesServiceController extends /SkyData/Core/Service/Controller/SkyDataServiceController
{
            ...
  /**   
   * @ajaxMethod 
   * @runOnLoad
  **/   
  public function GetModelos ()
  {
    $result = array();
    $result[] = $this-&gt;NewDataRow ('Modelos', array ('id' =&gt; 1, 'descripcion' =&gt; 'Nissan'));
    $result[] = $this-&gt;NewDataRow ('Modelos', array ('id' =&gt; 2, 'descripcion' =&gt; 'Touran'));
    $result[] = $this-&gt;NewDataRow ('Modelos', array ('id' =&gt; 3, 'descripcion' =&gt; 'Audi'));
    $result[] = $this-&gt;NewDataRow ('Modelos', array ('id' =&gt; 4, 'descripcion' =&gt; 'Volkswagen'));

    return $result;
  }
        ...
}
</code></pre>

<p>En este método se retorna una lista de coche. De especial atención es el método <code>NewDataRow</code> que permite crear un registro a partir del modelo de datos declarado en la configuración de la clase. Esta:
<code>config.yaml</code></p>

<pre><code>datamodel:
  Modelos: [id, descripcion]
</code></pre>

<p>El servicio se asocia a una página <code>/SkyData/Core/Page/SkyDataPage</code>, que para este caso tendrá un View que usa Twig (<code>\SkyData\Core\View\TwigView</code>). El codigo HTML de la página podría ser éste:</p>

<pre><code>&lt;select  id='modelos' name="modeloSelected" ng-model="Modelos" class="span6"&gt;
    &lt;option value="-1" selected='selected'&gt;-- Elija un modelo --&lt;/option&gt;
    &lt;option ng-repeat="modelo in Modelos" value="[[modelo.id]]"&gt;[[modelo.descripcion]]&lt;/option&gt;
&lt;/select&gt;
</code></pre>

<p>Aquí se ha de advertir el uso de las marcas Angular para indicar el modelo de datos y los campos conectados con el elemento select. El código de la página generado automáticamente ya incluye el controller y las llamadas correctas a los métodos creados en el servicio mediante <code>$http</code>.</p>

<p>La página se asocia al servicio incluye la siguiente cláusula en su configuración:
<code>Page\config.yaml</code></p>

<pre><code>services:
  use: [CochesService]
</code></pre>

<p>El código que el programador ha de realizar es únicamente la lógica de negocio en el backend, a través de la clase del servicio, usando PHP y la plantilla de visualización de la página usando la clase de la página. Esta plantilla puede ser HTML limpio, Twig o PHP. El código del framework automáticamente creará los controllers y services de Angular para que todo se conecte perfectamente.</p>
        </section>

        <aside id="sidebar">
          <a href="https://github.com/egiralt/skydata/zipball/master" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/egiralt/skydata/tarball/master" class="button">
            <small>Download</small>
            .tar.gz file
          </a>

          <p class="repo-owner"><a href="https://github.com/egiralt/skydata"></a> is maintained by <a href="https://github.com/egiralt">egiralt</a>.</p>

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
        </aside>
      </div>
    </div>

  
  </body>
</html>