
<div style='height: 500px'>

<hr/>	

<input type="text" ng-model='email'>
<select ng-model='size'>
	<option value="20">20</option>
	<option value="80">80</option>
	<option value="100">100</option>
	<option value="160">160</option>
	<option value="200">200</option>
</select>
<hr/>

<hr/>
<span>Datos del vehículo: </span> <vehinfo matricula='E1809CJJ' bastidor='WVGZZZ1TZ6W121160'></vehinfo>
<span>Datos del vehículo: </span> <vehinfo matricula='E1809CJJ' bastidor='VF1KG0F0628933705'></vehinfo>

</div>