<div class="span6">
	<div class="main-search">
		<label for="main-search"><i class="icon-search"></i></label>
		<input id="main-search" type="text" placeholder="Buscar...">
		<span for="cliente_check">Nombre</span>&nbsp;<input type="checkbox" value="1" id="cliente_check" name="cliente_check" />&nbsp;&nbsp;
		<span for="dni_check">DNI</span>&nbsp;<input type="checkbox" value="1" id='dni_check' name="dni_check" />&nbsp;&nbsp;
		<span for="matricula_check">Matrícula</span>&nbsp;<input type="checkbox" value="1" id="matricula_check" name="matricula_check" />&nbsp;&nbsp;
		<span for="telefono_check">Teléfonos</span>&nbsp;<input type="checkbox" value="1" id="telefono_check" name="telefono_check" />
	</div>
</div>
