<div class="sidebar-collapse">
	<ul class="nav" id="main-menu">	
		<li class="text-center">
			<avatar email='egiralt@gmail.com' size='120'></avatar>
		</li>

		{% for page in pages %}
		<li>
			<a class="active-menu" href="{{ page.route }}"><i class="fa fa-dashboard fa-3x"></i> {{ page.label }}</a>
		</li>
		{% endfor %}
	</ul>
</div>
