<ul>
	{% for page in pages %}
	<li {% if page.active %} class='selected-menu' {% endif %}>
		<a href="{{ page.route }}">
			{% if page.icon|length > 0 %}
				<i class="{{ page.icon }}"></i>
			{% endif %}
			{{ page.label }}
		</a>
	</li>
	{% endfor %}
</ul>
