
<a href="\" border="0" style='display: block;'>
	<img src="{{ logo_url }}" id="img_company_logo" alt='{{ company_name }}' data-company-codigo='{{ company_code }}' class="pull-left" style='margin-top: -3px; height:45px' border="0"/>
</a>
