	{{ page_headers | raw }}
	
<!-- <link rel="SHORTCUT ICON" href="{$FAVICON_URL}"> -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	
	<title>{{ application_name }}</title>
	<!-- http://davidbcalhoun.com/2010/viewport-metatag -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
	{{ page_styles | raw }}
	