{% extends "@global/body.twig" %}

{% block html_body %}
		<div class="wrap-general height-wrapper">
			{# TODO: Incluir la validación para saber si está autenticado #}
			{% include 'header.twig' %}
			<div id="main" role="main" class="container-fluid">
				<div class="contained">			
					{% module AngularNavigationRouting %}
					{% module MainMenu %}
					<div id="page-content">
						<div class="fluid-container">
							<section id="widget-grid" class="">
								<div class="row-fluid">
									<article class="span12">
									{{ page_content | raw }}
									</article>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
