{% extends "@global/body.twig" %}

{% block html_body %}
	{{ parent()  }}
	{% include "topnavbar.twig" %}
	<!-- main body starts -->
	<div id="body-container">
		<div id="body-content">

			{% include "horizontalnavbar.twig" %}
			{# {% include "pagenavbar.twig" %} #}

			<section class="page container">
				{{ page_content | raw }}
			</section>
		</div>
	</div>
	<!-- main body ends -->
	{% include "footer.twig" %}

{% endblock %}
