
<section class="nav nav-page">

	<div class="container">
		<div class="row">
			<div class="span7">
				<header class="page-header">
					<h3>
						Dashboard Demo<br /> <small>Additional Bootstrap Components</small>
					</h3>
				</header>
			</div>
			<div class="page-nav-options">
				<div class="span9">
					<ul class="nav nav-pills">
						<li><a href="#"><i class="icon-home icon-large"></i> </a>
						</li>
					</ul>
					<ul class="nav nav-tabs">
						<li class="active"><a href="#"><i class="icon-home"></i>Home</a>
						</li>
						<li><a href="#">Maps</a></li>
						<li><a href="#">Admin</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
