
<div class="clear"></div>

<div id="bottomLinks">

<div id="footer" class='no-print'>
   <div class="container" style="text-align: right"> 
                    <div class="copy">
                      
                    </div>
                    <p style='color: #999' class="text-muted no-print">Auriga Automotive CRM 2014. Todos los derechos Reservados</p>
					<div id="copyright" class="no-print">
					    {{ company_copyright }} 
					</div>
	</div>
</div>

<script type="text/javascript">
	var ismobile = (/iphone|ipad|ipod|android|blackberry|mini|windows\sce|palm/i.test(navigator.userAgent.toLowerCase()));	
    if(!ismobile){
    	
        
    }else{
    	
    	/** ONLY EXECUTE THESE CODES IF MOBILE DETECTION IS TRUE **/
		document.write('<script src="UI/bootstrap/js/include/selectnav.min.js"><\/script>');
    }
</script>
		
