<div class="pull-right">
	<div class="btn-toolbar">
		 <div class="btn-group">
	 		<a class="btn btn-inverse btn-small" id="home_link" href='/' class='utilsLink' data-toggle="tooltip"  data-trigger="hover" title="Página de inicio">
   				<i class="icon-home"></i>
   			</a>
		</div>
		<!--			    				
		<div class="btn-group" id="citasBtnToolbar">
	    	<a href="index.php?module=GCITA_Citas&action=index" class="btn btn-small btn-warning dropdown-toggle" data-toggle="dropdown" id="citas_button_header">
				<span class="mail-sticker">0</span>
				Citas
			</a>
			<div class="dropdown-menu toolbar pull-right">
				<h3>Citas</h3>
				<div id="citasBox"></div>
				<a href="/index.php?module=GCITA_Citas&action=index" id="go-to-inbox">Todas las citas <i class="icon-double-angle-right"></i></a>
			</div>
		</div>
		-->
		<!-- llamadas -->
		<!--
		<div class="btn-group" id="llamadasBtnToolbar">
	    	<a href="javascript:void(0)" class="btn btn-small btn-warning dropdown-toggle" data-toggle="dropdown" id="calls_button_header">
				<span class="mail-sticker">0</span>
				Llamadas
			</a>
			<div class="dropdown-menu toolbar pull-right">
				<h3>Llamadas</h3>
				<div id="llamadasBox"></div>
				<a href="/index.php?module=Calls&action=index" id="go-to-inbox">Todas las llamadas <i class="icon-double-angle-right"></i></a>
			</div>
			
		</div>
		-->
		
		<!-- fin de llamadas -->
		
		<!--  TODO: Agregar el modulo del selector de concesionarios -->
	
    	<div class="btn-group">
	 		<a class="btn btn-inverse btn-small" id="logout_link" href='{$LOGOUT_LINK}' class='utilsLink' data-toggle="tooltip"  data-trigger="hover" title="Salir de la aplicación">
   				<i class="icon-off"></i>&nbsp;Salir
   			</a>
			<a href="javascript:void(0)" class="btn btn-small btn-inverse" id="reset-widget" data-toggle="tooltip"  data-trigger="hover" title="Reiniciar interfaz de usuario">
				<i class="icon-refresh"></i>
			</a>
		</div>
    </div>
</div>
